

.order_item {
width: 360px;
float: left;
margin-bottom: 10px;
position: relative;
}



/* .product_item:hover {
    transform: scale(1.05);
  } */

.product_img{
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 20px;
    /* transition: transform 500ms ease; */

   
}

/* .product_img:hover {
    transform: scale(1.03);
} */

.product_card_options {
  padding: 20px;
}

.product_title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  /* .product_desc {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  } */
  
  .product_category {
    font-size: 10px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .product_price {
    font-size: 20px;
    color: #333;
    font-weight: bold;
   
  }

  .delete_product {


    float: right;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 10px;

    transition: color, transform 500ms ease;

    width: 20px;
    height: 20px;

  }

  .delete_product:hover {
    color: red;
    transform: scale(1.3);
  }

