@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #222;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

}

.wrapper {
    max-width: 1280px;
    min-width: 420px;
    margin: 50px auto;
    padding: 0 20px;
}

/* HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    position: relative;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
    color: rgb(44, 44, 246);
    cursor: pointer;
}

header .logo:hover {
    transform: scale(1.07); /* Збільшуємо масштаб на 30% */
    transition: transform 0.5s; /* Додаємо плавний перехід з тривалістю 0.3 секунди */
  }

  .nav {
    display: flex;

  }

.nav-item {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 600ms ease;
}

.nav-item:hover {
    opacity: 0.5;
}

.shop_card_button {

    width: 20px;
    height: 20px;
    margin-left: 25px;

    transition: color 500ms ease;
    cursor: pointer;
}

.shop_card_button:hover,
.shop_card_button.active {
    color: green;
}

/* SHOP-CART !!!!  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.shop_cart {
    position: absolute;

    top: 40px;
    right: 0;
    padding: 15px;
    background-color: rgb(238, 252, 252);
    z-index: 10;

    -webkit-box-shadow: 20px 20px 30px 8px rgba(207,207,207,1);
-moz-box-shadow: 20px 20px 30px 8px rgba(207,207,207,1);
box-shadow: 20px 20px 30px 8px rgba(207,207,207,1);
}

.shop_cart_empty {
    font-size: 20px;
}

/* HERO IMG !!!!  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

header .presentation {

    background: url('./img/bgimg.png') no-repeat;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #aaaaaa;

    position: relative;

    padding: 20px;

    margin-bottom: 40px;

}

header .presentation::after,
header .presentation::before {
    position: absolute;
    color: #fff;
    font-size: 34px; /* Змінено розмір для адаптації */
}

header .presentation::after {
    content: 'Кращі товари для вашого дому';
    top: 40px;
    left: 40px;
    width: 80%;
}

header .presentation::before {
    content: 'Обирай найкраще!';
    bottom: 40px;
    right: 40px;
    width: 80%;
}

/* FOOTER !!!!! !!!!  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
footer {
    text-align: center;
    margin-top: 100px;
}